.page[b-yiai1bzcqy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-yiai1bzcqy] {
    flex: 1;
}

.sidebar[b-yiai1bzcqy] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-yiai1bzcqy] {
    background-color: #05163c;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    display: flex;
    Vertical-align: middle;
    color: #e2e3e5;
}

    .top-row[b-yiai1bzcqy]  a, .top-row .btn-link[b-yiai1bzcqy] {
        white-space: nowrap;
        margin-left: 1.5rem;
        Vertical-align: middle;
    }

    .top-row a:first-child[b-yiai1bzcqy] {
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-yiai1bzcqy] {
        display: none;
    }

    .top-row.auth[b-yiai1bzcqy] {
        justify-content: space-between;
    }

    .top-row a[b-yiai1bzcqy], .top-row .btn-link[b-yiai1bzcqy] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-yiai1bzcqy] {
        flex-direction: row;
    }

    .sidebar[b-yiai1bzcqy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yiai1bzcqy] {
        position: sticky;
        top: 0;
        z-index: 1;
        vertical-align: middle;
    }

    .main > div[b-yiai1bzcqy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
