@page "/privacy"

<h1 xmlns="http://www.w3.org/1999/html">Privacy Statement</h1>
<h5>The Bonkerbet Privacy Policy</h5>
<div class='page-item' role='dialog'>
    <p>
        At Bonkerbet the security of your information, and the protection of your
        privacy are at the very core of our mission: <em>it`s what we do</em>.
        We care about your data, because in today`s digital economy it`s our
        most valuable asset.
        Of course, Many companies say they care, but in reality, few do.
        Bonkerbet is different. Why? Because we just <b>luuuuuurve</b>
        data, especially the personal sort. In fact, we love it so much that once we 
        have it, we keep it - forever. From day
        one we treat it as if we own it*, taking full responsibility for security,
        privacy, data warehousing, dissemination and monetization**. Once it`s in our
        data warehouse, we further protect your information. All data is
        secured using our patented platform:
    </p>
    <p>
        <em>
            revenue-oriented, perfidious and personal,yet carefully obfuscated, crypto-secure,
            blockchain-leveraged, omni-un-quasi-retro-pseudosemi-un-non-de-non-quasi-fully-anonymised
            potentially-redacted, partially-scenesent, bitcoin-mediated, personally-identifiable re-personalised information merchanting service
            platform**.
        </em>
    </p>
    <p>
        Famously known by the abbreviation:
        <em>
            <b>ROPPYCOCSBLOUQRPSUNDNQFAPRBMPIUPIRMSP</b>
        </em>
    </p>
    <p>
        It`s how we ensure our trusted partners receive your personal information for the right
        price. Keeping us sufficiently monetarily remunerated; and our legal
        obligations toward customers entirely obfuscated.
    </p>
    <p>
            * We do. Bonkerbet legally now owns all your data, this legal right covers all information about you, including, but not limited to that categorised as personal, recreational, proffesional, financial & medical. Our ownership rights extend to anything you have ever written, online or otherwise, any work of art (or part thereof) you may have created, trademarks, copyright and/or patents granted. Bonkerbet now owns your image and personal branding rights, including all photos of you or representations of your likeness.
            individual including photos this legal right extends to the information belonging to your entire family and all acquaintances).
        </p>
        <p>
            **By interacting with our website you agree to any and all processing of all your data (as defined above), now or in the future, for any purpose.
        </p>
        </div>
    <h5>The Boring Stuff
        <small>
            Allmurky, indeterminate and irrelevant in any
            territory with an internationally recognised system of law, societal
            structure,or jurisprudence, irrespective of how those terms might be
            interpretted. This is how we ensure you, our customers, and your data, are
            never exposed to illegal activity in any jurisdiction where `legality` has
            any meaning in law or otherwise. In our commercial and legal obligations we
            are bound by a rigorous regulatory framework, laid down in statute across the
            autonomous territories ofNew Caledonia, the Pitcairn Islands and several
            landlocked areas of the Papua New Guinean Highlands. All trademarks
            andbusiness registrations are made by the Pitcairn Islands Technological
            Monetary-Donation Mediated Trust andratified by the Chelyabinsk-Putin
            Cybersecurity Centre in Siberia. Legal, Financial and Ethical standards are
            regulatedby the Augustus Pinochet South Atlantic Las Malvinas Nationalist
            Military Regional Directorate. To aid swift resolution of operational
            disputes, all customer and company finances remain in an independent escrow
            account for twelve months.This account is managed by an international,
            impartial and ombudsman-resembling individual named Augustus Pinochet Jnr,
            based at Banco Argentina, Buenos Aires.All disputes must be forwarded to
            Senor Pinochet. Please note - UK citizens should NOT reveal their address,
            their names, nor their nationalityto Senor Pinochet; thirty seven of our
            customers were unable to maintain sufficient candour when dealing with Snr
            Pinochet. Allremain missing, presumed dismembered. Regrettably, due to the
            immense depths, and prevalance of the ravenous hagfish native to the South
            Atlantic trenches,those customers will NEVER be found.Therefore, security in
            our data warehouse is guaranteed, or you get ALL your money back.
        </small>
    </h5>